#sudo pip3 install
fake-useragent
flask_cors
gevent
gunicorn
flask-jwt-extended
python-dotenv
beautifulsoup4
requests
lxml
google
pymysql
pandas
aniso8601==9.0.1
apispec==5.2.2
certifi==2022.6.15
charset-normalizer==2.0.12
click==8.1.3
colorama==0.4.5
Flask==2.1.2
flask-apispec==0.11.0
Flask-RESTful==0.3.9
idna==3.3
importlib-metadata==4.11.4
itsdangerous==2.1.2
Jinja2==3.0.1
MarkupSafe==2.1.1
marshmallow==3.16.0
packaging==21.3
pyparsing==3.0.9
pytz==2022.1
six==1.16.0
urllib3==1.26.9
webargs==8.1.0
Werkzeug==2.1.2
zipp==3.8.0
